nav.main-menu {
    float: right;
}

h2#title_description {
    text-align: left;
    font-size: 40px;
    font-family: 'Glober-Thin';
}

header.header-section {
    padding-bottom: 65px;
}

.intro-section {
    padding-top: 0px;
}

.portfolio-item .pi-inner h2 {
    top: 50px;
}

h2#name {
    text-align: left;
    font-family: 'Glober-Light';
    font-size: 55px;
    padding-bottom: 45px;
}

span.gray {
    color: #afafaf;
}


img.company-logo {
    height: 100px;
    padding-bottom: 25px;
}

.meddy-title {
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
}

.black {
  color: black;
}

.gray {
  color: #979797;
}

.uppercase {
  text-transform: uppercase;
}

.intro-section {
    padding: 0px !important;
}


a.title-link {
  color: black;
  /*text-decoration: underline;*/
}


.portfolio-section {
    padding-top: 75px !important;
}

a.title-link.kiklink:hover {
  color: #5ccd11 !important;
}

a.title-link.meddylink:hover {
  color: #2a3d8b !important;
}

.section-title {
  font-family: 'Nunito', sans-serif;
}

.copyright {
  font-family: 'productsansregular';
}



/* Fonts */

@font-face {
    font-family: 'Glober-Thin-Italic';
    src: url(../fonts/GloberThinItalic.woff2) format('woff2'),
        url(../fonts/GloberThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Black-Italic';
    src: url(../fonts/GloberBlackItalic.woff2) format('woff2'),
        url(../fonts/GloberBlackItalic.woff) format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Light';
    src: url(../fonts/GloberLight.woff2) format('woff2'),
        url(../fonts/GloberLight.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-xBold';
    src: url(../fonts/GloberxBold.woff2) format('woff2'),
        url(../fonts/GloberxBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Heavy-Italic';
    src: url(../fonts/GloberHeavyItalic.woff2) format('woff2'),
        url(../fonts/GloberHeavyItalic.woff) format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Thin';
    src: url(../fonts/GloberThin.woff2) format('woff2'),
        url(../fonts/GloberThin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Regular';
    src: url(../fonts/GloberRegular.woff2) format('woff2'),
        url(../fonts/GloberRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Bold';
    src: url(../fonts/GloberBold.woff2) format('woff2'),
        url(../fonts/GloberBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Book';
    src: url(../fonts/GloberBook.woff2) format('woff2'),
        url(../fonts/GloberBook.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Bold-Itlaic';
    src: url(../fonts/GloberBoldItalic.woff2) format('woff2'),
        url(../fonts/GloberBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Heavy';
    src: url(../fonts/GloberHeavy.woff2) format('woff2'),
        url(../fonts/GloberHeavy.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Book-Italic';
    src: url(../fonts/GloberBookItalic.woff2) format('woff2'),
        url(../fonts/GloberBookItalic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Black';
    src: url(../fonts/GloberBlack.woff2) format('woff2'),
        url(../fonts/GloberBlack.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-Light-Italic';
    src: url(../fonts/GloberLightItalic.woff2) format('woff2'),
        url(../fonts/GloberLightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Glober-SemiBold;
    src: url(../fonts/GloberSemiBold.woff2) format('woff2'),
        url(../fonts/GloberSemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Glober-SemiBold-Italic';
    src: url(../fonts/GloberSemiBoldItalic.woff2) format('woff2'),
        url(../fonts/GloberSemiBoldItalic.woff) format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-Regular-Italic';
    src: url(../fonts/GloberRegularItalic.woff2) format('woff2'),
        url(../fonts/GloberRegularItalic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Glober-xBold-Italic';
    src: url(../fonts/GloberxBoldItalic.woff2) format('woff2'),
        url(../fonts/GloberxBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'bodoniflfbold';
    src: url('../fonts/bodoniflf-bold-webfont.woff2') format('woff2'),
         url('../fonts/bodoniflf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoniflfbold_italic';
    src: url('../fonts/bodoniflf-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bodoniflf-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bodoniflfmedium_italic';
    src: url('../fonts/bodoniflf-italic-webfont.woff2') format('woff2'),
         url('../fonts/bodoniflf-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoniflfregular';
    src: url('../fonts/bodoniflf-roman-webfont.woff2') format('woff2'),
         url('../fonts/bodoniflf-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'productsansbolditalic';
    src: url('../fonts/product-sans-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/product-sans-bold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'productsansbold';
    src: url('../fonts/product-sans-bold-webfont.woff2') format('woff2'),
         url('../fonts/product-sans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'productsansitalic';
    src: url('../fonts/product-sans-italic-webfont.woff2') format('woff2'),
         url('../fonts/product-sans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'productsansregular';
    src: url('../fonts/product-sans-regular-webfont.woff2') format('woff2'),
         url('../fonts/product-sans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*Animation*/

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 1s ease-in 1 normal forwards;
       -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}